<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Home Page 2*3</h1>
        <h3><%= 2*3 %></h3>
        <% if(diceVal==6) {
        %> nice! this is correct; <%
        } %>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eum
            soluta rem repellat est quam quae similique veritatis quo atque
            debitis doloremque necessitatibus hic sed, reiciendis nulla
            asperiores ut at.</p><br>
        <button>click here!!</button>
    </body>
</html>